
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/vonge"]
	path = themes/vonge
	url = https://github.com/paberr/vonge-zola-theme
