    <details class="details__item" open name="tab-14">
      <summary class="details__link">

      </summary>
      <div class="details__body">
        <form class="form">
          <div class="form-group">
            <label class="label">
              Check-in:
              <input type="date" name="checkin" class="input input--date">
            </label>
          </div>
          <div class="form-group">
            <label class="label">
              Check-out:
              <input type="date" name="checkout" class="input input--date">
            </label>
          </div>
          <div class="form-group">
            <label class="label">
              Guests:
              <input type="number" name="guests" min="1" value="1" class="input">
            </label>
          </div>

          <button type="submit" class="button">Book Stay</button>

        </form>
      </div>
    </details>