{% import "components/blog-card.html" as blog_card %}
{% import "components/blog-section.html" as blog_section %}
{% import "components/content.html" as content %}
{% import "components/hero.html" as hero %}
{% import "components/page-heading.html" as page_heading %}
{% import "components/page-image.html" as page_image %}
{% import "components/pagination.html" as pagination %}
{% import "components/posts-list.html" as posts_list %}
{% import "components/tags-list.html" as tags_list %}
{% macro content_blocks(data) %}
{% for block in data %}
    {% if block.block == "blog-card" %}
    {{ blog_card::blog_card(data = block) }}
    {% elif block.block == "blog-section" %}
    {{ blog_section::blog_section(data = block) }}
    {% elif block.block == "content" %}
    {{ content::content(content_html = block.content_html) }}
    {% elif block.block == "page-heading" %}
    {{ page_heading::page_heading(taxonomies = block.taxonomies | default(value=false), title = block.title, description = block.description | default(value=false)) }}
    {% elif block.block == "page-image" %}
    {{ page_image::page_image(image = block.image, image_alt = block.image_alt) }}
    {% elif block.block == "pagination" %}
    {{ pagination::pagination(data = block) }}
    {% elif block.block == "posts-list" %}
    {{ posts_list::posts_list(data = block) }}
    {% elif block.block == "tags-list" %}
    {{ tags_list::tags_list(data = block) }}
    {% endif %}
{% endfor %}
{% endmacro hero %}
